*~
analytical_harmonic_phonons/CALCS/
analytical_harmonic_phonons/NEW_CODE_TESTING/
analytical_harmonic_phonons/scale_coupling_coreShell/
coupling_fitting_plotting/CALCS/
numerical_harmonic_phonons/CALCS/
numerical_anharmonic/CALCS/
